<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Contato</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="index.html">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Cursos
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="ads.html">ADS</a>
          <a class="dropdown-item" href="#">Redes de Comp.</a>
          <a class="dropdown-item" href="#">Banco de Dados</a>
        </div>
      </li>
      <a class="nav-item nav-link" href="contato.html">Contato</a>
      <a class="nav-item nav-link" href="login.html">Login</a>
      
    </div>
  </div>
</nav>
  
<body>
  
    <div class="jumbotron">
    <h1 class="display-4">Fale conosco</h1>
    <p class="lead">

<section> 

    <ul>

        <li> Comercial: 11 3254-8300</li>

        <li>Secretaria: 11 5593-5344</li>

        <li>Unidade - Barra Funda</li>

        <li>Avenida Rudge, 315 - Barra Funda
            São Paulo / SP</li>

        <li>CAMPUS
            Avenida Rudge, 315, Barra Funda - São Paulo / SP</li>

    </ul>

</section> 


<main>
      
      <div class="form-group">
      <label for="validationTooltip01">Nome*</label>
      <input type="text" class="form-control" required id="validationTooltip01" placeholder="First name" value="Digite seu nome" required>
      <div class="valid-tooltip"></div></div><hr>
           
      <div class="form-group">
      <label for="validationTooltip02">Sobrenome*</label>
      <input type="text" class="form-control" required id="validationTooltip02" placeholder="Last name" value="Digite o seu sobrenome" required>
      <div class="valid-tooltip"></div></div> <hr>
 
    <div class="form-group">
    <label for="exampleInputEmail1">E-mail*</label>
    <input type="email" class="form-control" required id="exampleInputEmail1"  aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted"></small>
    </div><hr>
  

    <div class="form-group">
    <label for="exampleFormControlTextarea1">Escreva a sua mensagem:*</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" required rows="3"></textarea>
    </div><hr>
  
  <button type="submit" class="btn btn-primary">Enviar</button><hr>

</main>


<footer>
        <hr/>
        <p class="text-center">Todos os direitos reservados Faculdade Impacta 2018</p>
</footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


</body>
    
    
    
    
    </html>